<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cityrag.dao.mapper.BuildingMapper">

    <select id="selectBySpatial" resultType="com.cityrag.dao.entity.BuildingEntity">
        SELECT * FROM buildings
        <where>
            <if test="wkt != null and wkt != ''">
                AND ST_Within(geom, ST_GeomFromText(#{wkt}, 4326))
            </if>
            <if test="resourceTypes != null and resourceTypes.size() > 0">
                AND use_type IN
                <foreach item="type" collection="resourceTypes" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectByBuffer" resultType="com.cityrag.dao.entity.BuildingEntity">
        SELECT * FROM buildings
        <where>
            ST_DWithin(geom, ST_GeomFromText(#{centerWkt}, 4326), #{radius})
            <if test="resourceTypes != null and resourceTypes.size() > 0">
                AND use_type IN
                <foreach item="type" collection="resourceTypes" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
        ORDER BY ST_Distance(geom, ST_GeomFromText(#{centerWkt}, 4326))
    </select>
</mapper>
